{% extends "administrator/header.html" %}
{% block content %}

<div class="row">
    <div class="container">
            <h3> Welcome,admin</h3>
            <ul class="list-group">
              <li class="list-group-item" ><a href="/ad/assign/">Assign Curation</a></li>
              <li class="list-group-item" ><a href="/admin/">Admin page</a></li>
              <li class="list-group-item" ><a href="/ad/create">Create New Curation(add topic, add datasets)</a></li>
              <li class="list-group-item" style="color:gray;">Delete Curation</li>
              <li class="list-group-item" style="color:gray;">Summary</li>
              <li class="list-group-item" style="color:gray;">Invite New Curator</li>
              <!--<li class="list-group-item" ><a href="#">Invite New Curator</a></li>-->

           </ul>

    </div>
</div>
{% endblock %}