{% extends "administrator/header.html" %}

{% block content %}
    <!--navbar-->
    <nav class="navbar navbar-default" style="background-color: #e3f2fd;">
        <div class="container-fluid">
            <ul class="nav navbar-nav">
                <li id="assign" >
                    <a href="/curator/{{user_id}}"><img src="https://cdn4.iconfinder.com/data/icons/system-ui-set/512/triangle-arrow-left-back-last-vector-ui-128.png" style="height:20px; width=100%"></img>Back to Assignment</a>
                </li>
                <li id="ncbi" onClick="change_url(this.id)">
                    <a href="#">GEO</a>
                </li>
                <li id="pub" onClick="change_url(this.id)">
                    <a href="#">Pubmed</a>
                </li>
                <li id="pmc" onClick="change_url(this.id)">
                    <a href="#">PMC</a>
                </li>
                
            </ul>
        </div>
    </nav>

	
	
    <script>
        var info = '{{dataset.content|escapejs}}';
        var obj = JSON.parse(info);
    </script>
    <div class="row">
    	<div class="col-sm-9">
    	    
    	    <!--Back and forward button-->
    	    <div class="pull-right">
                    <input type="button" class="btn btn-info" value="Back" onclick="history.back();">
                    <input type="button" class="btn btn-info"  value="forward" onclick="history.forward();">
            </div>
            
			<!--iframe-->
    	    <div class="embed-responsive embed-responsive-4by3">
    	        <iframe id="renderpage" style="width: 100%; height: 100%; position: absolute; " src="">
                    <p>Your browser does not support iframes.</p>
                </iframe>
    	    </div>
	        
	        <script>
	            change_url('ncbi');
                function change_url(clicked_id)
                {
                    var ncbinum = obj['Accession'];
                    var pubnum = obj['PMID']
                    if(clicked_id == 'ncbi')
                    {
	                    var ncbi_str = "https://www.ncbi.nlm.nih.gov/geo/query/acc.cgi?acc="+ncbinum;
	                    document.getElementById('renderpage').src = ncbi_str;
                    }
                    if(clicked_id == 'pub')
                    {
	                    var pub_str = "https://www.ncbi.nlm.nih.gov/pubmed/"+pubnum;
	                    document.getElementById('renderpage').src = pub_str;
                    }
                    if(clicked_id == 'pmc')
                    {
                        
                    }
                }
	        </script>
	   </div>
	   <div class="col-sm-3">
	        <form method='POST' action=''>
	            {% csrf_token %}
	             <div class = "row">
	                <h3>Curation Topic: {{topic.topic}}</h3><br>
	                
	                
	                
	                <h3>{{pmcjson}}</h3>
	                <h4>{{dataset.content}}</h4>
                    <p id="demo"></p>
	                <script>
	                    var pmcinfo = JSON.parse('{{r|escapejs}}');
	                    var realpmc = pmcinfo['status'];
	                    document.getElementById('demo').innerHTML= realpmc;
	                </script>
	                
	                
	                
	                
	                
	                <h4> Is this dataset relavent to the curation topic? </h4>
                    <ul id="ul_relavent">
                        {% for radio in form.result %}
                            <!--<li class="li_relavent">
                                <input id="id_name_{{forloop.counter0}}",name="selector",type="radio">
                                <label for="id_name_{{forloop.counter0}}">{{radio.choice_value}}</label>
                            -->  
                                {{ radio }}
                                <div class="check"><div class="inside"></div></div>
                            <!--</li>-->
                        {% endfor %}
                    </ul>
                </div>
                <div class = row"">
                    {{form.comment}}<br>
                    
                </div>
                <br>
                <div class = "row">
                    <input type="submit"  class="btn btn-info"  value="Submit" onclick="">    
                </div>
    		        <!--{{form.as_p}}-->
    		    
            </form>	
	    </div>
    </div>
{% endblock %}