{% extends "administrator/header.html" %}

{% block content %}
    <!--navbar-->
    <div class="container-fluid">
        <ul class="nav navbar-nav">
            <li >
                <a href="/curator/{{user_id}}"><img src="https://cdn4.iconfinder.com/data/icons/system-ui-set/512/triangle-arrow-left-back-last-vector-ui-128.png" style="height:20px; width=100%"></img>Back to Assignment</a>
            </li>
            <li><a data-toggle="pill" href="#menu1">GEO</a></li>
            <li id="pub_tab"></li>
            <li id="pmc_tab"></li>
        </ul>
        <ul class="nav navbar-nav navbar-right "> 
			<li> <a href="/logout/">Log Out </a></li>
		</ul> 
    </div>
    <div class="row">
    	<div class="col-sm-9">
    	    <!--Back and forward button-->
    	    <div class="pull-right">
                    <input type="button" class="btn btn-info" value="Back" onclick="history.back();">
                    <input type="button" class="btn btn-info"  value="forward" onclick="history.forward();">
            </div>
			<!--iframe-->
    	    <div class="embed-responsive embed-responsive-4by3">
                <div class="tab-content" >
                    <div id="menu1" class="tab-pane fade in active">
                         <!--To make the content in iframe larger, add :transform: scale(1.2);transform-origin: 50% 0; in style-->
                        <iframe id="renderpage_ncbi" style="width: 100%; height: 100%; position: absolute;"  scrolling="yes" src="ncbi.html">
                            <p>Your browser does not support iframes.</p>
                        </iframe>
                    </div>
                    <div id="menu2" class="tab-pane fade">
                        <iframe id="renderpage_pubmed" style="width: 100%; height: 100%; position: absolute; " scrolling="yes" src="pubmed.html">
                            <p>Your browser does not support iframes.</p>
                        </iframe>
                    </div>
                    <div id="menu3" class="tab-pane fade">
                        <iframe id="renderpage_pmc" style="width: 100%; height: 100%; position: absolute; " scrolling="yes" src="pmc.html">
                            <p>Your browser does not support iframes.</p>
                        </iframe>
                    </div>
                </div>
    	    </div>
	        
        </div>
        <div class="col-sm-3">
            <div class="row"  style="position:fixed;">
                <form method='POST' action=''>
                    {% csrf_token %}
                   <div class ="row">
                        <h3>Curation Topic: {{topic.topic}}</h3><br>
                        <h4> Is this dataset relavent to the curation topic? </h4>
                        <ul id="ul_relavent">
                        {% for radio in form.result %}
                            {{ radio }}
                            <div class="check"><div class="inside"></div></div>
                        {% endfor %}
                        </ul>
                    </div>
                    <div class = row"">
                        {{form.comment}}<br>
                    </div>
                    <br>
                    <div class = "row">
                        <input type="submit"  class="btn btn-info"  value="Submit" onclick="">    
                    </div>
                </form>	
            </div>
        </div>
    </div>
    <script>
        var pubnum = '{{dataset.pubNo}}';
        if(pubnum.length>=9)
        {
            pubnum=pubnum.slice(0,8);
        }
        if(pubnum.length > 1)//ignore 2 pubmeds
        {
            document.getElementById('pub_tab').innerHTML="<a data-toggle='pill' href='#menu2'>Pubmed</a>";
            var pmcinfo = JSON.parse('{{jsonString|escapejs}}');
            var pmcnum = pmcinfo.records[0].pmcid;
            if(pmcnum != null)
            {
                console.log("pmc_delay"+'{{pmc_delay}}');
                document.getElementById('pmc_tab').innerHTML="<a data-toggle='pill' href='#menu3'>PMC</a>";
            }
        }
       
        
    </script>
{% endblock %}